@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./static/font/NanumBarunGothic.ttf") format("truetype");
}

@font-face {
  font-family: "NanumBarunGothicBold";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./static/font/NanumBarunGothicBold.ttf") format("truetype");
}

.App{
  font-family: "'NanumBarunGothic', 'NanumBarunGothicBold'";
}